<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} Easy</title>

        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ asset('assets/custom/css/materialize.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/custom/css/style.css') }}" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script src="{{ asset('assets/vendor/jquery/dist/jquery.js') }}"></script>
        <script src="{{ asset('assets/vendor/react/react.js') }}"></script>
        <script src="{{ asset('assets/vendor/react/react-dom.js') }}"></script>
        <script src="{{ asset('assets/vendor/react/react-dom.js') }}"></script>
        <script src="{{ asset('assets/custom/js/materialize.min.js') }}"></script>
        <script src="{{ asset('assets/custom/js/init.js') }}"></script>
        <script src="{{ asset('assets/build/vendor.js') }}"></script>
        <script>
            $( document ).ready(function(){
                $(".button-collapse").sideNav();
            })
        </script>
    </head>
    <body>
        <div id="layout"></div>
        {% block content %}{% endblock %}
        <div id="footer"></div>
        <script src="{{ asset('assets/build/bundle.js') }}"></script>
    </body>
</html>
